/* Change the percent in the tablink css  */
/* General */
* {box-sizing: border-box}

html {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.2em;
}

hr {
  padding: 15px;
  border-width: 0px;
}

body {
  margin: 0px;
  background: #fff;
}

/* For waiting during upload */
.loader_gif {
  position: fixed;
  z-index: 9999;
  background: url('loader.gif') 50% 50% no-repeat;
  top: 0px;
  left: 0px;
  height: 100%;
  width : 100%;
  cursor: wait;
  visibility: hidden;
}

.loader_txt {
  border: solid 1px black;
  position: fixed;
  z-index: 100;
  left: 50%;
  top: 50%;
  background-color: #cccccc;
  width: 400px;
  margin-left: -200px;
  text-align: center;
  cursor: wait;
  visibility: hidden;
}
h1 {
  margin: 0px 10px 0px 10px;
}
h3 {
  padding: 8px 1px 0px 1px;
  margin: 0px 0px;
}

/* Header div */
.header {
  background-color: #1325ed;
  color: #ffffff;
  font-size: 1.6em;
  font-weight: bold;
  padding: 1px 5px 1px 5px;
/*  margin-bottom: 10px;*/
}

.right {
  float: right;
}

.left {
  float: left;
}

.div_space {
  margin-bottom: 10px;
}

.odd {
  background-color: #e2dff7;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
.tore {
  margin-top: 20px;
  margin-bottom: 0px;
  background-color: #e612ec;
  color: #ffffff;
  padding: 20px 5px 20px 5px;
}
.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.menu li {
  padding: 4px;
  margin-bottom: 7px;
  background-color: #14e75a;
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.menu li:hover {
  background-color: #0099cc;
}
.tension {
  padding: 4px;
  margin-bottom: 7px;
  background-color: #14e75a;
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin: 0px 10px 0px 10px;
}

.menu p {
  padding: 4px;
  background-color: #f3db29;
  text-align: center;
  font-size: 1.3em;
  margin: 3px 0px 5px 0px;
}
.footer {
  background-color: #0099cc;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  padding: 5px;
}
[class*="col-"] {
  float: left;
  padding: 5px;
}
[class*="col-"] {
  width: 100%;
}
@media only screen and (min-width: 600px) {
  .col-s-1 {width: 100%;}
  .col-s-2 {width: 50%;}
  .col-s-3 {width: 33.33%;}
  .col-s-4 {width: 25%;}
}
@media only screen and (min-width: 768px) {
  .col-1 {width: 100%;}
  .col-2 {width: 50%;}
  .col-3 {width: 33.33%;}
  .col-4 {width: 25%;}
}

/**
 Menu
 Change the percent width to add menu
*/
.tablink {
  background-color: black;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 3px 10px 3px;
  width: 14.28%;  /* percent is function of the number of page */
}

.tablink:hover {
  background-color: #777;
}

.tabcontent {
  display: none;
  text-align: center;
  height: 100%;
}

/* special button */
button {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.0625rem;
  font-weight: 700;
  letter-spacing: .02em;
  outline: none;
}

.myButton {
  box-shadow:inset 0px 1px 0px 0px #e184f3;
  background:linear-gradient(to bottom, #c123de 5%, #a20dbd 100%);
  border-radius:6px;
  border:1px solid #a511c0;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-size:16px;
  font-weight:bold;
  padding:6px 24px;
}

.myButton:hover {
  background:linear-gradient(to bottom, #a20dbd 5%, #c123de 100%);
  background-color:#a20dbd;
}

.myButton:active {
  position:relative;
  top:1px;
}

.flash {
  background-color: gold;
  width: 300px;
  margin: 0 auto;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

/* Dimme slider */
.range {
  --ticksThickness: 2px;
  --ticksHeight: 30%;
  --ticksColor: silver;

  display: inline-block;
  background: silver;
  background: linear-gradient(to right, var(--ticksColor) var(--ticksThickness), transparent 1px) repeat-x;
  background-size: calc(100%/((var(--max) - var(--min)) / var(--step)) - .1%) var(--ticksHeight);
  background-position: 0 bottom;
  position: relative;
}

/* min / max labels at the edges */
.range::before, .range::after {
  font: 12px monospace;
  content: counter(x);
  position: absolute;
  bottom: -2ch;
}

.range::before {
  counter-reset: x var(--min);
  transform: translateX(-50%);
}

.range::after {
  counter-reset: x var(--max);
  right: 0;
  transform: translateX(50%);
}

.range > input {
  width: 300px;
  margin: 0 -6px; /* Critical adjustment */
}

.range-wrap {
  position: relative;
  margin: 0 auto 3rem;
}

.center {
  padding-left: 24px;
  padding-right: 24px;
  margin: 0 auto;
  max-width: 87.4375em;
  position: relative;
}

/* Splitter */
.divSplitter {
  background-color: #fff;
  color: #444;
  display: flex;
  flex-direction: column;
  height: 400px;
  box-sizing: unset; /* super important */
}

.divUp, .divDown {
  background-color: #fff;
  color: #fff;
  border-radius: 5px;
  padding: 5px;
  box-sizing: border-box;
}

.divDown {
  flex: 1;
} 

.splitter {
  width: 100%;
  height: 4px;
  padding: 0;
  cursor: row-resize;
}

.splitter::before {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background: cyan;
  margin: 0 auto;
  border-radius: 6px;
}

/* Toggle button*/
.switch {
  position: relative;
  display: block;
  vertical-align: top;
  width: 95px; /* La largeur du toggle */
  height: 30px;
  padding: 3px;
  margin:0;
  border-radius: 18px;
  box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  box-sizing:content-box;
}
.switch-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  box-sizing:content-box;
}
.switch-label {
  position: relative;
  display: block;
  height: inherit;
  font-size: 15px;
  border-radius: inherit;
}
.switch-label:before, .switch-label:after {
  position: absolute;
  top: 50%;
  margin-top: -.5em;
  line-height: 1;
  -webkit-transition: inherit;
  -moz-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
  box-sizing:content-box;
}
.switch-label:before {
  content: attr(data-off);
  right: 11px; /* la position du texte */
  color: #888888;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}
.switch-label:after {
  content: attr(data-on);
  left: 11px;
  color: #FFFFFF;
  text-shadow: 0 1px rgba(0, 0, 0, 0.2);
  opacity: 0;
}
.switch-input:checked ~ .switch-label {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
}
.switch-input:checked ~ .switch-label:before {
  opacity: 0;
}
.switch-input:checked ~ .switch-label:after {
  opacity: 1;
}
.switch-handle {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 28px;
  height: 28px;
  border-radius: 100%;
}
.switch-handle:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -6px 0 0 -6px;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
}
.switch-input:checked ~ .switch-handle {
  left: 54px;
  box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}
.switch-flat {
  padding: 0;
  background: #FFF;
  background-image: none;
}
.switch-flat .switch-label {
  border: solid 2px #eceeef;
}
.switch-flat .switch-label:after {
  color: #a20dbd;
}
.switch-flat .switch-handle {
  background: #dadada;
  width: 22px;
  height: 22px;
  box-shadow: none;
}
.switch-flat .switch-handle:before {
  background: #ffffff;
}
.switch-flat .switch-input:checked ~ .switch-label {
  background: #FFF;
  border-color: #a20dbd;
}
.switch-flat .switch-input:checked ~ .switch-handle {
  left: 67px; /* La position  du toggle à droite */
  background: #a20dbd;
  box-shadow: none;
}
/* Toggle Transition */
.switch-label, .switch-handle {
  transition: All 0.3s ease;
  -webkit-transition: All 0.3s ease;
  -moz-transition: All 0.3s ease;
  -o-transition: All 0.3s ease;
}
/* config */
td, th {
  border: 1px solid rgb(190, 190, 190);
  padding: 4px;
}

td {
/*    text-align: center;*/
}

tr:nth-child(even) {
  background-color: #ffa1e7;
}

th[scope="col"] {
  background-color: #822121;
  color: #fff;
}

th[scope="row"] {
  background-color: #f94848;
  color: #000;
}

th[scope="inter"] {
  background-color: #ffe700;
  color: #fff;
}
 
caption {
  padding: 10px;
  caption-side: bottom;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(200, 200, 200);
  letter-spacing: 1px;
  font-family: sans-serif;
  font-size: .8rem;
}

/* Graphe */
.padCanvas {
  padding: 0px 10px 5px 10px;
}

.btnZoom {
  margin: -25px 0px 0px 5px;
  text-align: left;
}

#m_Data {background-color: white; color: white; text-align: left;}
#m_Graphe {background-color: white;}
#m_VoltageTemp {background-color: white;}
#m_Energy {background-color: white;}
#m_SSR {background-color: white;}
#m_Config {background-color: white;}
